#stage{
    /* htmlのwidth,heightに準拠する*/
    width:768px;
    height:432px;
    position: relative;
}

canvas{
    position: absolute;
}

#background-layer{
    z-index:1;
}
#animation-layer{
    z-index:2;
}
#text-layer{
    z-index:2;
}
#command-text-layer{
    z-index:2;
}
#character-layer{
    z-index:3;
}
#icon-layer{
    z-index:3;
}
#game-cursor-layer{
    z-index:4;
}

#go-to-debug-mode{
}
